<?xml version="1.0"?>
<config>
    <modules>
        <Tawfekov_CartTimeout>
            <version>0.1.0</version>
        </Tawfekov_CartTimeout>
    </modules>
    <frontend>
        <routers>
            <blocks>
                <use>standard</use>
                <args>
                    <module>Tawfekov_CartTimeout</module>
                    <frontName>carttimeout</frontName>
                </args>
            </blocks>
        </routers>
        <layout>
            <updates>
                <carttimeout>
                    <file>carttimeout</file>
                </carttimeout>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <carttimeout>
                <class>Tawfekov_CartTimeout_Helper</class>
            </carttimeout>
        </helpers>
        <blocks>
            <carttimeout>
                <class>Tawfekov_CartTimeout_Block</class>
            </carttimeout>
        </blocks>
        <models>
            <carttimeout>
                <class>Tawfekov_CartTimeout_Model</class>
                <resourceModel>carttimeout_mysql4</resourceModel>
            </carttimeout>
            <carttimeout_mysql4>
                <class>Tawfekov_CartTimeout_Model_Mysql4</class>
                <entities>		  
                    <log>
                        <table>cart_timeout_quote_log</table>
                    </log>
                </entities>
            </carttimeout_mysql4>
        </models>
    </global>
    <crontab>
        <jobs>
            <tawfekov_cart_timeout>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>carttimeout/cron::clear</model></run>
            </tawfekov_cart_timeout>
        </jobs>
    </crontab>
</config> 